# DBT target folder (compiled SQL, logs, artifacts)
target/

# Logs folder
logs/

# DBT cache and profile info
.dbt/

# Ignore environment files
.env

# Ignore any Python virtual environment if used
venv/
.env/

# Ignore files for any specific IDE
.idea/
.vscode/

# Ignore Jupyter Notebooks checkpoints (if applicable)
.ipynb_checkpoints/
